extends layout

block content
  br
  br
  #file-upload
    .ui.two.column.stackable.grid.container
      .column
        .ui.segment(style="box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);border: 1px solid rgba(34, 36, 38, 0.15)")
          form.dropzone#dropzone-left(method='post', action='/uploadLeft')
            .fallback
              input(name='file', type='file')
      .column
        .ui.segment(style="box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);border: 1px solid rgba(34, 36, 38, 0.15)")
          form.dropzone#dropzone-right(method='post', action='/uploadRight')
            .fallback
              input(name='file', type='file')
    .ui.one.column.stackable.grid.container
        .column
          .ui.segment#submit_segment
            form(method='post', action='/computeDiff')
              button.ui.teal.button#submit_button() Submit
