extends layout

block content
  br
  br
  script.
    var isChecked = 0;
    $(document).ready(function(){
      $('#submit_button').click(function(){
        if ($('#post-edited').is(':checked'));
      });
    });
  #file-upload
    .ui.two.column.stackable.grid.container
      .column
        .ui.segment(style="box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);border: 1px solid rgba(34, 36, 38, 0.15)")
          form.dropzone#dropzone-left(method='post', action='/uploadLeft')
            .fallback
              input(name='file', type='file')
      .column
        .ui.segment(style="box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);border: 1px solid rgba(34, 36, 38, 0.15)")
          form.dropzone#dropzone-right(method='post', action='/uploadRight')
            .fallback
              input(name='file', type='file')
    .ui.one.column.stackable.grid.container
        .ui.segment#submit_segment
          form(method='post',action='/computeDiff').ui.form
            .field
              button#submit_button(type='submit').ui.teal.button Submit
            br
            .field
              .ui.toggle.checkbox
                input(type='checkbox', name='postedited', checked="")
                label(style="font-family:'Open Sans';color:#9E9E9E;") Post-edited file?
