extends layout

block content
  br
  br
  #file-upload
    .ui.one.column.stackable.grid.container
      .column
        .ui.segment
          h1.ui.header #{title} #{version}
    .ui.two.column.stackable.grid.container
      .column
        .ui.segment
          h1.ui.header Machine Translated XLIFF
        .ui.segment
          form.dropzone#dropzone-left(method='post', action='/uploadLeft')
            .fallback
              input(name='file', type='file')
      .column
        .ui.segment
          h1.ui.header Post-edited XLIFF
        .ui.segment
          form.dropzone#dropzone-right(method='post', action='/uploadRight')
            .fallback
              input(name='file', type='file')
    .ui.one.column.stackable.grid.container
        .column
          .ui.segment#submit_segment
            form(method='post', action='/computeDiff')
              button.ui.blue.button#submit_button() Submit
