doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')

    title Change Tracker

    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(rel='icon', type='image/ico', href='/images/favicon.ico')
    link(rel='stylesheet', href='/semantic/dist/semantic.css')

    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/semantic/dist/semantic.min.js')
  body
    br
    .ui.middle.aligned.center.aligned.container
      .ui.secondary.menu(style="border:none;box-shadow:none;")
        .item
          a(href='/')
            img(src='/images/icon.png',width='38px',height='38px')
        .item
          h2(style="font-family:'Open Sans';font-weight:normal;") Change Tracker
    block content
